<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="icon/fkbbs.ico";>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <link href="bootstrapValidator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="bootstrapValidator/bootstrapValidator.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<script type="text/javascript">
    $(function () {
        $('.DLmodal').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: "glyphicon glyphicon-ok",//验证成功图标
                invalid: 'glyphicon glyphicon-remove',//验证失败图标
                validating: 'glyphicon glyphicon-refresh'//验证中图标
            },
            fields: {
                email_login: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        },
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                }
            }
        });
    });
</script>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">FK论坛</a>
        </div>
    </div>
</nav>
<div class="modal-dialog" style="margin-top: 12%;">
    <form class="DLmodal" th:action="@{loginpost}" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
        </div>
        <div class="modal-body" id = "model-body">
            <div class="form-group">
                <label>邮箱地址</label>
                <input type="text" class="form-control" placeholder="请输入邮箱地址" autocomplete="off" name="email_login">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" placeholder="请输入密码" autocomplete="off" name="password">
            </div>
            <div class="form-group">
                <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control">登录</button>
            </div>
            <div class="form-group">
                <a th:href="@{/reg}"><button type="button" class="btn btn-default form-control">注册</button></a>
            </div>
        </div>
    </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal -->
<script type="text/javascript" zIndex='-1' opacity='1' count='99' src="canvas/canvas-nest.js"></script>
</body>
</html>