<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="icon/fkbbs.ico";>
    <title>发布新帖</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <link href="bootstrapValidator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="bootstrapValidator/bootstrapValidator.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>

</head>
<body>
<script type="text/javascript">
    $(function () {
        $('.publish').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: "glyphicon glyphicon-ok",//验证成功图标
                invalid: 'glyphicon glyphicon-remove',//验证失败图标
                validating: 'glyphicon glyphicon-refresh'//验证中图标
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '标题不能为空'
                        },
                        stringLength: {
                            max:25,
                            message: '标题必须在25字之内'
                        }
                    }
                },
                description: {
                    validators: {
                        notEmpty: {
                            message: '内容不能为空'
                        },
                        stringLength: {
                            max:100,
                            message: '内容必须在100字之内'
                        }
                    }
                },
            }
        });
    });
</script>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">FK论坛</a>
        </div>
        <div id="help">
            <div th:if="${USER_NAME} ne null">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <!--/*@thymesVar id="USER_NAME" type=""*/-->
                            <span class="glyphicon glyphicon-user" th:text="' hi! '+${USER_NAME}"/><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/info}"><span class="glyphicon glyphicon-home"> 个人中心</span></a></li>
                            <li><a th:href="@{/publish}"><span class="glyphicon glyphicon-tags"> 发布新帖</span></a></a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <span class="glyphicon glyphicon-log-out"></span> 登出
                        </a>
                    </li>
                </ul>
            </div>
            <div th:if="${USER_NAME} eq null">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in"> 登录</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/reg}">
                            <span class="glyphicon glyphicon-send"> 注册</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid main" style="margin-top: 70px" id="publish">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发帖</h2>
            <hr>
            <form class="publish" th:action="@{publishinsert}" method="post" accept-charset="UTF-8">
                <input type="hidden" name="id">
                <div class="form-group">
                    <label for="title">帖子标题 （简单扼要）：</label>
                    <input type="text" class="form-control"  id="title" name="title" placeholder="问题标题......">
                </div>
                <div class="form-group">
                    <label for="description">帖子内容 ：</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10" placeholder="内容......"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control" style="margin-top: 15px">发布</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>帖子发起指南</h3>
            · 帖子标题：请用精简的语言描述你发布的问题，不超过25个字 <br>
            · 帖子内容：请详细补充您的内容，并确保描述清晰直观<br>
            <br>
            按国家有关文件规定，绝对禁止在论坛上发布含有下列内容之一的言论、信息：<br>
            ⑴　违反中华人民共和国宪法和法律法规的言论；<br>
            ⑵　危害国家安全，泄露国家机密，颠覆国家政权，破坏国家统一的言论；<br>
            ⑶　损害国家荣誉和利益的言论；<br>
            ⑷　攻击中华人民共和国政府、中国共产党及其领导人的言论；<br>
            ⑸　散布谣言，扰乱社会秩序，破坏社会稳定的言论；<br>
            ⑹　侮辱、中伤、诽谤恐吓他人、侵害他人合法权益的言论；<br>
            ⑺　宣扬暴力、凶杀、恐怖、色情、淫秽、赌博的言论；<br>
            ⑻　破坏国家宗教政策，宣扬邪教和封建迷信的的言论；<br>
            ⑼　教唆犯罪的资料言论；<br>
            ⑽　含有其它有违国家法律法规的内容。
        </div>
    </div>
</div>
</body>
</html>