<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="icon/fkbbs.ico";>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <link href="bootstrapValidator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="bootstrapValidator/bootstrapValidator.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <title>注册页面</title>
</head>
<body>
<script type="text/javascript">
    $(function () {
        $('.DLmodal').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: "glyphicon glyphicon-ok",//验证成功图标
                invalid: 'glyphicon glyphicon-remove',//验证失败图标
                validating: 'glyphicon glyphicon-refresh'//验证中图标
            },
            fields: {
                email_login: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        },
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                }
            }
        });
        $('.ZCmodal').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: "glyphicon glyphicon-ok",//验证成功图标
                invalid: 'glyphicon glyphicon-remove',//验证失败图标
                validating: 'glyphicon glyphicon-refresh'//验证中图标
            },
            fields: {
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min:6,
                            max:10,
                            message: '密码长度必须在6到10位之间'
                        }
                    }
                },
                re_password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        identical: {
                            field:'password',
                            message:'两次输入密码不同'
                        }
                    }
                },
                email_reg: {
                    validators: {
                        notEmpty: {
                            message: '邮箱地址不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        },
                        remote:{
                            url:'/verifymail',
                            data:'',
                            message:'邮箱已被注册',
                            delay:2000,
                            type:'POST'
                        }
                    }
                },
                nickname: {
                    validators: {
                        notEmpty: {
                            message: '昵称不能为空'
                        },
                        stringLength: {
                            max:8,
                            message: '昵称不能大于八位字符'
                        }
                    }
                },
                date: {
                    validators: {
                        data: {
                            message: '不是合法的日期',
                        },
                        notEmpty: {
                            message: '日期不能为空',
                        },
                    }
                },
                img: {
                    validators: {
                        file: {
                            message: '不是合法的日期',
                        },
                        notEmpty: {
                            message: '不能为空',
                        },
                    }
                },
            }
        });
    });
</script>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/main}">FK论坛</a>
        </div>
    </div>
</nav>
<div class="modal-dialog" style="margin-top: 8%" id="ZCModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title text-center" id="ZCModalLabel">注册</h2>
        </div>
        <form class="ZCmodal" th:action="@{regsave}" th:method="post">
            <div class="modal-body" id = "ZC-body">
                <div class="form-group">
                    <label class="control-label">邮箱地址</label>
                    <input type="text" class="form-control" placeholder="请输入邮箱地址" autocomplete="off" name="email_reg">
                </div>
                <div class="form-group">
                    <label class="control-label">昵称</label>
                    <input type="text" class="form-control" placeholder="请输入昵称" autocomplete="off" name="nickname">
                </div>
                <div class="form-group">
                    <label class="control-label">密码</label>
                    <input type="password" class="form-control" placeholder="请输入密码" autocomplete="off" name="password">
                </div>
                <div class="form-group">
                    <label class="control-label">确认密码</label>
                    <input type="password" class="form-control" placeholder="请再一次输入密码" autocomplete="off" name="re_password">
                </div>
                <div class="form-group">
                    <label class="control-label">出生年月</label>
                    <input type="date" class="form-control" name="date">
                </div>
                <div class="form-group">
                    <label class="control-label">性别</label><br>
                    <label>
                        <input type="radio" name="radio" id="gender_m" value=1 checked>男
                    </label>
                    <label style="margin-left: 5px">
                        <input type="radio" name="radio" id="gender_w" value=0>女
                    </label>
                </div>
                <div class="form-group">
                    <label for="inputfile">头像</label>
                    <input type="file" id="inputfile" name="img">
                    <p class="help-block">图片不得大于10mb</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">注册</button>
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" zIndex='-1' opacity='1' count='99' src="canvas/canvas-nest.js"></script>
</body>
</html>