<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
</head>
<body>
<h2 align="center">图书管理系统</h2>
<table align="center" width="50%" border="1">
    <tr><th>帖子id</th><th>用户id</th><th>帖子标题</th><th>帖子内容</th><th>帖子时间</th></tr>
    <!--/*@thymesVar id="bookinfos" type="rqchen.exp4.controller.bookinfoController"*/-->
    <tr th:each="theme:${themes}">
        <td th:text="${theme.getTheme_id()}"></td>
        <td th:text="${theme.getUser_id()}"></td>
        <td th:text="${theme.getTheme_title()}"></td>
        <td th:text="${theme.getTheme_content()}"></td>
        <td th:text="${theme.getTheme_time()}"></td>
    </tr>
</table>
</body>
</html>