<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>

    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <link href="bootstrapValidator/bootstrapValidator.min.css" rel="stylesheet">
    <script src="bootstrapValidator/bootstrapValidator.min.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>

    <link rel='stylesheet' id='kratos-css' href='kratos/kratos.css' type='text/css' media='all' />
    <title>图书管理系统</title>
    <style>
        html, body {
            height: 1500px;
            width: 100%;
        }
        .row{
            margin-top: 50px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/main}">FK论坛</a>
        </div>
        <div>
            <div th:if="${USER_NAME} ne null">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <!--/*@thymesVar id="USER_NAME" type=""*/-->
                            <span class="glyphicon glyphicon-user" th:text="' hi! '+${USER_NAME}"/><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-home"> 个人中心</span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-tags"> 发布新帖</span></a></a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <span class="glyphicon glyphicon-log-out"></span> 登出
                        </a>
                    </li>
                </ul>
            </div>
            <div th:if="${USER_NAME} eq null">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/login}">
                            <span class="glyphicon glyphicon-log-in"> 登录</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/reg}">
                            <span class="glyphicon glyphicon-send"> 注册</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="mainContent" style="padding: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 footer-list text-center">
            <article class="kratos-hentry clearfix">
                <div class="kratos-entry-border-new clearfix" align="left">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th width="5%">帖子id</th>
                            <th width="60%">用户id</th>
                            <th>帖子标题</th>
                            <th>帖子内容</th>
                            <th>帖子时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="theme:${themes}">
                            <td th:text="${theme.getTheme_id()}"></td>
                            <td th:text="${theme.getUser_id()}"></td>
                            <td th:text="${theme.getTheme_title()}"></td>
                            <td th:text="${theme.getTheme_content()}"></td>
                            <td th:text="${theme.getTheme_time()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</div>
<script type="text/javascript" zIndex='-1' opacity='1' count='99' src="canvas/canvas-nest.js"></script>
</body>
</html>